## Settings file was created by plugin OdinsFoodBarrels v1.2.2
## Plugin GUID: gravebear.odinsfoodbarrels

[Barley Barrel]

## Build Category where [OH_Barley] is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Food Barrels
Custom Build Category = Food Barrels

## Comma separated list of tools where [OH_Barley] is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft [OH_Barley]
# Setting type: String
# Default value: Barley:10:True
Crafting Costs = Barley:10:True

[Blue Mushrooms Basket]

## Build Category where [OH_Blue_Mushrooms] is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Food Barrels
Custom Build Category = Food Barrels

## Comma separated list of tools where [OH_Blue_Mushrooms] is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft [OH_Blue_Mushrooms]
# Setting type: String
# Default value: MushroomBlue:10:True
Crafting Costs = MushroomBlue:10:True

[Blueberry Barrel]

## Build Category where [OH_Blueberries] is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Food Barrels
Custom Build Category = Food Barrels

## Comma separated list of tools where [OH_Blueberries] is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft [OH_Blueberries]
# Setting type: String
# Default value: Blueberries:10:True
Crafting Costs = Blueberries:10:True

[Bukeperry Barrel]

## Build Category where [OH_Bukeberries] is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Food Barrels
Custom Build Category = Food Barrels

## Comma separated list of tools where [OH_Bukeberries] is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft [OH_Bukeberries]
# Setting type: String
# Default value: Pukeberries:10:True
Crafting Costs = Pukeberries:10:True

[Carrot Barrel]

## Build Category where [OH_Carrots] is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Food Barrels
Custom Build Category = Food Barrels

## Comma separated list of tools where [OH_Carrots] is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft [OH_Carrots]
# Setting type: String
# Default value: Carrot:10:True
Crafting Costs = Carrot:10:True

[CloudBerry Barrel]

## Build Category where [OH_CloudBerries] is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Food Barrels
Custom Build Category = Food Barrels

## Comma separated list of tools where [OH_CloudBerries] is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft [OH_CloudBerries]
# Setting type: String
# Default value: Cloudberry:10:True
Crafting Costs = Cloudberry:10:True

[Dandelion Basket]

## Build Category where [OH_Dandelion] is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Food Barrels
Custom Build Category = Food Barrels

## Comma separated list of tools where [OH_Dandelion] is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft [OH_Dandelion]
# Setting type: String
# Default value: Dandelion:10:True
Crafting Costs = Dandelion:10:True

[Egg Basket]

## Build Category where [OH_Egg_Basket] is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Food Barrels
Custom Build Category = Food Barrels

## Comma separated list of tools where [OH_Egg_Basket] is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft [OH_Egg_Basket]
# Setting type: String
# Default value: ChickenEgg:10:True
Crafting Costs = ChickenEgg:10:True

[Fiddlehead Basket]

## Build Category where [OH_Fiddlehead_Basket] is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Food Barrels
Custom Build Category = Food Barrels

## Comma separated list of tools where [OH_Fiddlehead_Basket] is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft [OH_Fiddlehead_Basket]
# Setting type: String
# Default value: Fiddleheadfern:10:True
Crafting Costs = Fiddleheadfern:10:True

[Fish Barrel]

## Build Category where [OH_Fish] is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Food Barrels
Custom Build Category = Food Barrels

## Comma separated list of tools where [OH_Fish] is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft [OH_Fish]
# Setting type: String
# Default value: FishRaw:10:True
Crafting Costs = FishRaw:10:True

[Flax Barrel]

## Build Category where [OH_Flax] is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Food Barrels
Custom Build Category = Food Barrels

## Comma separated list of tools where [OH_Flax] is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft [OH_Flax]
# Setting type: String
# Default value: Flax:10:True
Crafting Costs = Flax:10:True

[Honey Barrel]

## Build Category where [OH_Honey] is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Food Barrels
Custom Build Category = Food Barrels

## Comma separated list of tools where [OH_Honey] is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft [OH_Honey]
# Setting type: String
# Default value: Honey:10:True
Crafting Costs = Honey:10:True

[JotunPuff Basket]

## Build Category where [OH_JotunPuffs_Basket] is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Food Barrels
Custom Build Category = Food Barrels

## Comma separated list of tools where [OH_JotunPuffs_Basket] is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft [OH_JotunPuffs_Basket]
# Setting type: String
# Default value: MushroomJotunPuffs:10:True
Crafting Costs = MushroomJotunPuffs:10:True

[Magecap Basket]

## Build Category where [OH_Magecap] is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Food Barrels
Custom Build Category = Food Barrels

## Comma separated list of tools where [OH_Magecap] is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft [OH_Magecap]
# Setting type: String
# Default value: MushroomMagecap:10:True
Crafting Costs = MushroomMagecap:10:True

[OdinsSeedBag]

## Comma-separated list of item prefab names allowed in the seed bag. Add or remove items as needed. Supports custom mod seeds.
# Setting type: String
# Default value: Acorn,AncientSeed,BeechSeeds,BirchSeeds,CarrotSeeds,OnionSeeds,TurnipSeeds,FirCone,PineCone,VineberrySeeds
Allowed Items = Acorn,AncientSeed,BeechSeeds,BirchSeeds,CarrotSeeds,OnionSeeds,TurnipSeeds,FirCone,PineCone,VineberrySeeds

## Build Category where [OH_Seedbag] is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Food Barrels
Custom Build Category = Food Barrels

## Comma separated list of tools where [OH_Seedbag] is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft [OH_Seedbag]
# Setting type: String
# Default value: DeerHide:5:True
Crafting Costs = DeerHide:5:True

[Onion Barrel]

## Build Category where [OH_Onions] is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Food Barrels
Custom Build Category = Food Barrels

## Comma separated list of tools where [OH_Onions] is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft [OH_Onions]
# Setting type: String
# Default value: Onion:10:True
Crafting Costs = Onion:10:True

[Raspberry Barrel]

## Build Category where [OH_Raspberries] is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Food Barrels
Custom Build Category = Food Barrels

## Comma separated list of tools where [OH_Raspberries] is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft [OH_Raspberries]
# Setting type: String
# Default value: Raspberry:10:True
Crafting Costs = Raspberry:10:True

[Red Mushroom Basket]

## Build Category where [OH_Red_Mushrooms] is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Food Barrels
Custom Build Category = Food Barrels

## Comma separated list of tools where [OH_Red_Mushrooms] is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft [OH_Red_Mushrooms]
# Setting type: String
# Default value: Mushroom:10:True
Crafting Costs = Mushroom:10:True

[RoyalJelly Barrel]

## Build Category where [OH_RoyalJelly] is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Food Barrels
Custom Build Category = Food Barrels

## Comma separated list of tools where [OH_RoyalJelly] is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft [OH_RoyalJelly]
# Setting type: String
# Default value: RoyalJelly:10:True
Crafting Costs = RoyalJelly:10:True

[Sap Barrel]

## Build Category where [OH_Sap_Barrel] is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Food Barrels
Custom Build Category = Food Barrels

## Comma separated list of tools where [OH_Sap_Barrel] is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft [OH_Sap_Barrel]
# Setting type: String
# Default value: Sap:10:True
Crafting Costs = Sap:10:True

[Smoke Puff Basket]

## Build Category where [OH_SmokePuffs_Basket] is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Food Barrels
Custom Build Category = Food Barrels

## Comma separated list of tools where [OH_SmokePuffs_Basket] is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft [OH_SmokePuffs_Basket]
# Setting type: String
# Default value: MushroomSmokePuff:10:True
Crafting Costs = MushroomSmokePuff:10:True

[Thistle Basket]

## Build Category where [OH_Thistle] is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Food Barrels
Custom Build Category = Food Barrels

## Comma separated list of tools where [OH_Thistle] is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft [OH_Thistle]
# Setting type: String
# Default value: Thistle:10:True
Crafting Costs = Thistle:10:True

[Toadstool Basket]

## Build Category where [OH_Bzerker_Mushrooms] is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Food Barrels
Custom Build Category = Food Barrels

## Comma separated list of tools where [OH_Bzerker_Mushrooms] is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft [OH_Bzerker_Mushrooms]
# Setting type: String
# Default value: MushroomBzerker:10:True
Crafting Costs = MushroomBzerker:10:True

[Turnip Barrel]

## Build Category where [OH_Turnips] is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Food Barrels
Custom Build Category = Food Barrels

## Comma separated list of tools where [OH_Turnips] is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft [OH_Turnips]
# Setting type: String
# Default value: Turnip:10:True
Crafting Costs = Turnip:10:True

[Vineberry Barrel]

## Build Category where [OH_Vineberries] is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Food Barrels
Custom Build Category = Food Barrels

## Comma separated list of tools where [OH_Vineberries] is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft [OH_Vineberries]
# Setting type: String
# Default value: Vineberry:10:True
Crafting Costs = Vineberry:10:True

[Volture Egg Basket]

## Build Category where [OH_Volture_Eggs] is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Food Barrels
Custom Build Category = Food Barrels

## Comma separated list of tools where [OH_Volture_Eggs] is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft [OH_Volture_Eggs]
# Setting type: String
# Default value: VoltureEgg:10:True
Crafting Costs = VoltureEgg:10:True

[Yellow_Mushroom Basket]

## Build Category where [OH_Yellow_Mushrooms] is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Food Barrels
Custom Build Category = Food Barrels

## Comma separated list of tools where [OH_Yellow_Mushrooms] is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft [OH_Yellow_Mushrooms]
# Setting type: String
# Default value: MushroomYellow:10:True
Crafting Costs = MushroomYellow:10:True

